h2 {
font-size: medium;
line-height: 200%;
}     

h3 {
font-size: smaller;
line-height: 200%;
}



.map_vis {
    position:absolute;
    top: 60px;
    left: 0px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 95%;
    background-color: white;
    border: none;
}

 #sidebar {
    display: none;
    border: none;
}

 #header {
    display: none;
    border: none;
}

 #description {
    display: none;
    border: none;
}

 #footer {
    display: none;
    border: none;
}

#data_table
{
    position:absolute;
    top: 10px;
    left: 0px;
    border: 0px solid #aaa;
    border-radius: 10px;
}

.status_label_span
{
    position:absolute;
    top: 10px;
    right: 100px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
}

#resize_button
{
    display: block;
}

#maximise_button
{
    display: none;
}

body {
font-family: verdana,helvetica,arial,sans-serif;
background-color: white;
background-image: url('background.png');
background-repeat: no-repeat;       
background-attachment:fixed;

background-position: 20% 100px;
color: #2f2f2f;          
line-height:140%
}
